.center {
	position: relative;
	text-align: center;
	color: white;
}

.screenCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.realCenter {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

.content {
	position: relative;
}

.parallax-window {
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}

body {
	font-size: 17px;
}

blockquote {
	border-left: 5px solid rgb(29, 102, 185) !important;
}

blockquote {
	transition: 0.3s ease all;
}

blockquote:hover {
	box-shadow: 2px 2px 2px 2px #ccc;
}

.btn {
	background-color: rgb(29, 102, 185) !important;
}

.zoom {
	transition: transform .2s; /* Animation */
	margin: 0 auto;
  }

  .zoomducky {
	transition: transform .2s; /* Animation */
	margin: 0 auto;
  }

  
  .zoom:hover {
	transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .zoomducky:hover {
	transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .card {
	width: 400px;
	border-radius: 100px;
	background: #7d7d7d;
	padding: 10px;
	height: 600px;
   }

   .right {
	margin-left: auto; 
	margin-right: 20px;
	padding: 90px 0;
   }

   .left {
	   margin-right: auto;
	   margin-left: 20px;
	   padding: 90px 0;
   }

   .imagecard {
	   width: 500px;
	   height: 300px;
   }

	.card-action {
		text-align: center;

	}	
	
	.card-content {
		text-align: center;

	}	

	.windowmid {
		height: 100%;
	}

	.parallax {
		/* The image used */
		background-image: url("img_parallax.jpg");
	  
		/* Set a specific height */
		min-height: 300px;
		margin: 0 auto;
	  
		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 10%;

	  }



	.real-center {
		margin-left: auto;
		margin-right: 300px;								
	}

	.card-center {
		margin-left: 60px;
		padding: 90px 0;
	}


	.row {
		width: 1519px;
		height: 800px;
	}
	

	  